/* Usando a fonte personalizada */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    color: #fff;
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
}

/* Outros estilos */
