body {
    background-image: url('assets/imagem/b7e9e7bef4ca6c2c5b0f6859ded7ba6e.jpg');
    background-size: cover; /* Ajusta a imagem para preencher o fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-attachment: fixed; /* Mantém o fundo fixo ao rolar */
    background-position: center; /* Centraliza a imagem */
/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
}
.navbar-brand {
    font-weight: bold;
}
.banner {
    background-color: #333;
    color: white;
    padding: 50px 20px;
}
h2 {
    margin-bottom: 20px;
    color: #333;
}
#youtube .btn-danger,
#discord .btn-primary {
    font-size: 1.2em;
    padding: 10px 20px;
}
footer {
    margin-top: 50px;
    font-size: 0.9em;
}
.container {
    margin-top: 20px;
}
